body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        #map {
            height: 100vh;
            width: 100%;
        }
        .info {
            position: absolute;
            top: 10px;
            left: 10px;
            background: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }        
.modal {
            display: none;
            position: fixed;
            z-index: 1001;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.7);
        }
.modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            border-radius: 10px;
            text-align: center;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
.close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
.fiery-border {
            border: 2px solid #ff9900;
            box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.trace-mode {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  x-index : 1000;
}

.trace-mode-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.trace-mode-btn:hover {
  background-color: #3e8e41;
}
