body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        #map {
            height: 100vh;
            width: 100%;
        }
        .info {
            position: absolute;
            top: 10px;
            left: 10px;
            background: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }
        .fiery-border {
            border: 2px solid #ff9900;
            box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
        }
        .home-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1000;
        }
        .home-btn a {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .home-btn a:hover {
            background-color: #3e8e41;
        }